List of contents:
1. Importing libraries
2. Importing data
3. Aggregating data: grouping with pandas, with agg(), with transform(), deriving with loc()
4. Exporting data as pkl

1. Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

2. Importing data

In [3]:
# Import order_products_immersed pkl
df_ords_prods_merge = pd.read_pickle(r'C:\Users\court\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl')

In [4]:
# Create string of path
path = r'C:\Users\court\Instacart Basket Analysis'

In [5]:
path

'C:\\Users\\court\\Instacart Basket Analysis'

3. Aggregating data

In [6]:
# Create a subset
df = df_ords_prods_merge[:1000000]

In [7]:
# Aggregate mean of order_number grouped by department_id for entire dataframe
df_ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [8]:
# Group data
df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

<ipython-input-8-f20fc9dd3e90>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# View data with new column
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,Unnamed: 0.1,order_id,user_id,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_day_loc,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,11,3.0,5,0,both,Mid-range product,Regularly busy,NaN,Average orders,30
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,17,20.0,1,1,both,Mid-range product,Regularly busy,NaN,Average orders,30
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Average orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,17,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,16
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,14,30.0,2,0,both,Mid-range product,Regularly busy,NaN,Average orders,3
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,10,30.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,18
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,18

In [10]:
# Aggregate data using loyalty flag
df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [11]:
df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [12]:
df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [13]:
# Display frequency counts
df['loyalty_flag'].value_counts(dropna = False)

Regular customer    473070
Loyal customer      287917
New customer        239013
Name: loyalty_flag, dtype: int64

In [34]:
# View data by certain columns
df[['user_id', 'loyalty_flag', 'prices', 'add_to_cart_order']].head(60)

    user_id      loyalty_flag  prices  add_to_cart_order
0       138  Regular customer     5.8                  5
1       138  Regular customer     5.8                  1
2       709      New customer     5.8                 20
3       764      New customer     5.8                 10
4       764      New customer     5.8                 11
5       777  Regular customer     5.8                  7
6       825      New customer     5.8                  2
7       910  Regular customer     5.8                  1
8      1052  Regular customer     5.8                  1
9      1052  Regular customer     5.8                  2
10     1379      New customer     5.8                  1
11     1480    Loyal customer     5.8                  1
12     1480    Loyal customer     5.8                  3
13     1480    Loyal customer     5.8                  4
14     1494      New customer     5.8                  8
15     1494      New customer     5.8                 18
16     1494      New customer     5.8                 12
17     1540  Regular customer     5.8                 10
18     1540  Regular customer     5.8                  9
19     1540  Regular customer     5.8                  9
20     1540  Regular customer     5.8                  7
21     1540  Regular customer     5.8                  6
22     1540  Regular customer     5.8                  6
23     1540  Regular customer     5.8                 10
24     1540  Regular customer     5.8                  3
25     1540  Regular customer     5.8                  5
26     1540  Regular customer     5.8                 11
27     1540  Regular customer     5.8                 11
28     1540  Regular customer     5.8                  5
29     1540  Regular customer     5.8                 15
30     1540  Regular customer     5.8                  4
31     1540  Regular customer     5.8                  6
32     1540  Regular customer     5.8                  1
33     1540  Regular customer     5.8                  1
34     1598      New customer     5.8                  2
35     1598      New customer     5.8                  2
36     1598      New customer     5.8                  3
37     1647      New customer     5.8                  1
38     1647      New customer     5.8                  6
39     1647      New customer     5.8                  3
40     1647      New customer     5.8                 10
41     1647      New customer     5.8                  1
42     2833      New customer     5.8                 12
43     2850  Regular customer     5.8                 10
44     2857  Regular customer     5.8                  5
45     3010      New customer     5.8                 11
46     3029      New customer     5.8                  8
47     3395      New customer     5.8                  7
48     3904      New customer     5.8                  2
49     4006  Regular customer     5.8                  8
50     4006  Regular customer     5.8                  2
51     4006  Regular customer     5.8                  6
52     4006  Regular customer     5.8                  3
53     4006  Regular customer     5.8                  2
54     4122  Regular customer     5.8                  1
55     4141      New customer     5.8                  2
56     4343      New customer     5.8                  9
57     4553      New customer     5.8                  1
58     4845      New customer     5.8                  7
59     6866      New customer     5.8                 11

In [15]:
# Group data
df['mean_price'] = df.groupby(['user_id'])['prices'].transform(np.mean)

<ipython-input-15-677147e79da5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mean_price'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# View data with new column
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,Unnamed: 0.1,order_id,user_id,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_day_loc,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,5,0,both,Mid-range product,Regularly busy,NaN,Average orders,30,Regular customer,12.900000
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,1,1,both,Mid-range product,Regularly busy,NaN,Average orders,30,Regular customer,12.900000
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,5.288889
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,10,0,both,Mid-range product,Regularly busy,Slowest days,Average orders,3,New customer,5.800000
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,5.800000
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,5.800000
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,2,0,both,Mid-range product,Regularly busy,NaN,Average orders,3,New customer,5.800000
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer,5.800000
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,18,Regular customer,7.000000
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,2,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,18,Regular customer,7.000000

In [17]:
# Create a spending flag
df.loc[df['mean_price'] < 10, 'spending_flag'] = 'Low spender'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [18]:
df.loc[df['mean_price'] >= 10, 'spending_flag'] = 'High spender'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [19]:
# View frequency counts
df['spending_flag'].value_counts(dropna = False)

Low spender     805651
High spender    194349
Name: spending_flag, dtype: int64

In [35]:
# View data with certain columns
df[['user_id', 'spending_flag', 'prices']].head(60)

    user_id spending_flag  prices
0       138  High spender     5.8
1       138  High spender     5.8
2       709   Low spender     5.8
3       764   Low spender     5.8
4       764   Low spender     5.8
5       777   Low spender     5.8
6       825   Low spender     5.8
7       910   Low spender     5.8
8      1052   Low spender     5.8
9      1052   Low spender     5.8
10     1379   Low spender     5.8
11     1480   Low spender     5.8
12     1480   Low spender     5.8
13     1480   Low spender     5.8
14     1494   Low spender     5.8
15     1494   Low spender     5.8
16     1494   Low spender     5.8
17     1540   Low spender     5.8
18     1540   Low spender     5.8
19     1540   Low spender     5.8
20     1540   Low spender     5.8
21     1540   Low spender     5.8
22     1540   Low spender     5.8
23     1540   Low spender     5.8
24     1540   Low spender     5.8
25     1540   Low spender     5.8
26     1540   Low spender     5.8
27     1540   Low spender     5.8
28     1540   Low spender     5.8
29     1540   Low spender     5.8
30     1540   Low spender     5.8
31     1540   Low spender     5.8
32     1540   Low spender     5.8
33     1540   Low spender     5.8
34     1598   Low spender     5.8
35     1598   Low spender     5.8
36     1598   Low spender     5.8
37     1647   Low spender     5.8
38     1647   Low spender     5.8
39     1647   Low spender     5.8
40     1647   Low spender     5.8
41     1647   Low spender     5.8
42     2833   Low spender     5.8
43     2850   Low spender     5.8
44     2857   Low spender     5.8
45     3010   Low spender     5.8
46     3029   Low spender     5.8
47     3395   Low spender     5.8
48     3904   Low spender     5.8
49     4006   Low spender     5.8
50     4006   Low spender     5.8
51     4006   Low spender     5.8
52     4006   Low spender     5.8
53     4006   Low spender     5.8
54     4122   Low spender     5.8
55     4141   Low spender     5.8
56     4343   Low spender     5.8
57     4553   Low spender     5.8
58     4845   Low spender     5.8
59     6866   Low spender     5.8

In [21]:
# Group data
df['median_days'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

<ipython-input-21-84e5f788d2f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['median_days'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
# View data with new column
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,Unnamed: 0.1,order_id,user_id,...,_merge,price_range_loc,busiest_day,busiest_day_loc,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,both,Mid-range product,Regularly busy,NaN,Average orders,30,Regular customer,12.900000,High spender,6.5
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,both,Mid-range product,Regularly busy,NaN,Average orders,30,Regular customer,12.900000,High spender,6.5
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,5.288889,Low spender,7.0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,3,New customer,5.800000,Low spender,9.0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,5.800000,Low spender,9.0
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,both,Mid-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,5.800000,Low spender,26.0
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,both,Mid-range product,Regularly busy,NaN,Average orders,3,New customer,5.800000,Low spender,30.0
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer,5.800000,Low spender,30.0
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,both,Mid-range product,Regularly busy,Busiest days,Average orders,18,Regular customer,7.000000,Low spender,12.0
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,both,Mid-range product,Regularly busy,Busiest days,Average orders,18,Regular customer,7.000000,Low spender,12.0

In [23]:
# Aggregate data with frequency flag
df.loc[df['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [24]:
df.loc[(df['median_days'] <= 20) & (df['median_days'] > 10), 'frequency_flag'] = 'Regular customer'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [25]:
df.loc[df['median_days'] <= 10, 'frequency_flag'] = 'Frequent customer'

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [26]:
# View frequency counts
df['frequency_flag'].value_counts(dropna = False)

Frequent customer        641346
Regular customer         221585
Non-frequent customer    128877
NaN                        8192
Name: frequency_flag, dtype: int64

In [28]:
# View data with certain columns
df[['user_id', 'frequency_flag', 'order_id']].head(60)

    user_id         frequency_flag  order_id
0       138      Frequent customer   3139998
1       138      Frequent customer   1977647
2       709      Frequent customer    389851
3       764      Frequent customer    652770
4       764      Frequent customer   1813452
5       777  Non-frequent customer   1701441
6       825  Non-frequent customer   1871483
7       910  Non-frequent customer   1290456
8      1052       Regular customer    369558
9      1052       Regular customer    589712
10     1379       Regular customer   1798115
11     1480      Frequent customer    497193
12     1480      Frequent customer   1727826
13     1480      Frequent customer   2694698
14     1494      Frequent customer   3171753
15     1494      Frequent customer    186761
16     1494      Frequent customer    317121
17     1540      Frequent customer    200390
18     1540      Frequent customer    374436
19     1540      Frequent customer   2920553
20     1540      Frequent customer   2813049
21     1540      Frequent customer   2365998
22     1540      Frequent customer   1604797
23     1540      Frequent customer   2799665
24     1540      Frequent customer   2228851
25     1540      Frequent customer   2337422
26     1540      Frequent customer   2699008
27     1540      Frequent customer   1914830
28     1540      Frequent customer    783503
29     1540      Frequent customer   2500516
30     1540      Frequent customer    716845
31     1540      Frequent customer   1955535
32     1540      Frequent customer   1424793
33     1540      Frequent customer    749498
34     1598      Frequent customer   2434812
35     1598      Frequent customer   1531889
36     1598      Frequent customer    726947
37     1647  Non-frequent customer    627615
38     1647  Non-frequent customer   2507439
39     1647  Non-frequent customer   1152609
40     1647  Non-frequent customer   1048339
41     1647  Non-frequent customer   2818381
42     2833                    NaN   2722928
43     2850      Frequent customer   1482338
44     2857      Frequent customer   2311344
45     3010      Frequent customer    812943
46     3029  Non-frequent customer    256839
47     3395  Non-frequent customer   2192488
48     3904                    NaN    207661
49     4006      Frequent customer   1394659
50     4006      Frequent customer   2353526
51     4006      Frequent customer   2269226
52     4006      Frequent customer    367316
53     4006      Frequent customer   1448367
54     4122      Frequent customer     19989
55     4141  Non-frequent customer   2735922
56     4343  Non-frequent customer   2469422
57     4553  Non-frequent customer   3185558
58     4845       Regular customer    350540
59     6866                    NaN    513100

4. Export file as pkl

In [36]:
# Export df at pkl file
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))